@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #132d61ff;
    --accent: #2b6cb0;
    --accent-hover: #3182ce;
    --muted-foreground: #4a5568;
    --card-border: #cbd5e0;
    --card-background: #ffffff;
    --gradient-start: #f0cca8;
    --gradient-end: #ccdef5;
  }

  body {
    @apply bg-gradient-to-r from-gradient-start to-gradient-end text-foreground;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.scroll-animate {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.scroll-animate-in {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}